.ReactModal_Content{

	
	text-align: center;
	font-family: 'Coustard', serif;


}



.one{
	
	margin: 5px;
	text-align: center;
}

.two{

	width: 80%;
	height: 80px;

}

.modBut{

	// margin-top: 10px;
	text-align: center;


}

